# Python / Virtual Environment
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment & Secrets
.env
.env.local

# IDEs & Editors
.vscode/
.idea/
*.swp

# Application Data
backend/app/data/uploads/*
!backend/app/data/uploads/.gitkeep
backend/app/data/indexes/*
!backend/app/data/indexes/.gitkeep
# OS
.DS_Store
Thumbs.db
